{% extends 'base.html.twig' %}

{% block header %}Questionário inicial{% endblock %}

{% block body %}
    {{form_start(form)}}
    <div class="row">
        <div class="form-group col-lg-6">
            1 - Como você ficou sabendo do curso?
            {{form_widget(form.notificacaoCurso, { 'attr': {'class': 'form-control'} })}}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            2 - Qual seu conhecimento em programação?
            {{form_widget(form.programacao, { 'attr': {'class': 'form-control'} })}}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            3 – Qual seu conhecimento da linguagem PHP?
            {{form_widget(form.php, { 'attr': {'class': 'form-control'} })}}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
        4 – Qual seu conhecimento da linguagem HTML?
        {{form_widget(form.html, { 'attr': {'class': 'form-control'} })}}
        </div>
    </div>
    <div class="form-group">
        {{form_widget(form.btnSalvar, { 'attr': {'class': 'btn btn-primary'} })}}
    </div>
    {{form_end(form)}}
{% endblock %}