{% extends 'base.html.twig' %}

{% block header %}Respostas{% endblock %}

{% block body %}
    <table class="table table-hover" style="margin-top: 25px;">
        <tr>
            <th colspan="2">1 - Como você ficou sabendo do curso?</th>
        </tr>
        {% for i, r in respostas['curso'] %}
            <tr>
                <td>{{i}}</td>
                <td>{{counts['curso'][r - 1]}}</td>
            </tr>
        {% endfor%}
    </table>
    
    <table class="table table-hover" style="margin-top: 25px;">
        <tr>
            <th colspan="2">2 - Qual seu conhecimento em programação?</th>
        </tr>
        {% for i, r in respostas['programacao'] %}
            <tr>
                <td>{{i}}</td>
                <td>{{counts['programacao'][r - 1]}}</td>
            </tr>
        {% endfor%}
    </table>
        
    <table class="table table-hover" style="margin-top: 25px;">
        <tr>
            <th colspan="2">3 – Qual seu conhecimento da linguagem PHP?</th>
        </tr>
        {% for i, r in respostas['php'] %}
            <tr>
                <td>{{i}}</td>
                <td>{{counts['php'][r - 1]}}</td>
            </tr>
        {% endfor%}
    </table>
        
    <table class="table table-hover" style="margin-top: 25px;">
        <tr>
            <th colspan="2">4 – Qual seu conhecimento da linguagem HTML?</th>
        </tr>
        {% for i, r in respostas['html'] %}
            <tr>
                <td>{{i}}</td>
                <td>{{counts['html'][r - 1]}}</td>
            </tr>
        {% endfor%}
    </table>
{% endblock %}